[Unit]
Description=Circuit Sword HUD/OSD Service (Bookworm build)

[Service]
ExecStart=/home/pi/Circuit-Sword/cs-hud/src/cs-hud
Restart=on-failure

[Install]
WantedBy=multi-user.target
